

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id:"sign_up_new_user"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, id: "sign_up_username"%>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" , id: "sign_up_email"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", id:"sign_up_password"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "sign_up_password_confirmation"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", id: "sign_up_submit" %>
  </div>
<% end %>


