
<%author = post.user%>
<%@post = post%>
<div class="post">
    <header class = 'post-header'>
        <div class='author'>
            <h1><%=author.username.capitalize%> <brown>posted</brown></h1>
        </div>

        <%=link_to image_tag(author.profile_pic.url, class:"profile-pic"), username_path(author.username) %>
    </header>
    <main class='post-content' id= 'post_content_<%= @post.id%>'>
        <%=image_tag(post.post_pic.url) if post.post_pic.url != "/post_pics/original/missing.png" %>
        <div class='post-description'>
            <%=simple_format(post.content.truncate(900))%>
        </div>
        <div id = "post_likes_<%= @post.id%>" class = "likes" >
            <%if already_liked?(post.id)%>
                <%= render partial: "shared/dislike", user: @user, post: @post %>
            <%else%>
                <%= render partial: "shared/like", post: @post %>
            <%end%>
            
            
        </div>
    </main>
    
    <footer id="comments_<%= @post.id%>" class='comments'>
        <% if post.comments != [] %>
            <%comments = post.comments.limit(3) if has_limit%>
            <%comments ||= post.comments.limit(post.comments.count -1)%>

            <%= render comments%>
            
        <% else %>
            <i>No comments yet</i><p><br>
        <% end %>
        
    </footer>
    <div class="comment-form-container">
    
        <div class="new-comment-form">
            <%new_comment = post.comments.new%>
            <div class="comment-user">
                <%=image_tag @user.profile_pic.url%>
                <p><%=@user.username%></p>
            </div>
            <%= form_for(new_comment, remote: true) do |f| %>
                    <%= f.text_field :post_id, autocomplete: "off", value: post.id, hidden:true%>
                    <%=f.text_area :content, placeholder: "Leave your opinion", autocomplete: "off", id: "comment_#{post.id}"%>
                    <%= f.submit "", style: "display: none;"%>
                    <%=f.button do%>
                        <i class="material-icons">navigation</i>
                    <% end %>
            <% end %>
        </div>
    </div>
</div>
