<div class="feed-container solo-post">
    <main class="feed">
        <div class="post">
            <header class = 'post-header'>
                <div class='author'>
                    <h1><%=@author.username.capitalize%> <brown>posted</brown></h1>
                </div>

                <%=link_to image_tag(@author.profile_pic.url, class:"profile-pic"), username_path(@author.username) %>
            </header>
            <main class='post-content'>
                <%=image_tag(@post.post_pic.url) if @post.post_pic.url != "/post_pics/original/missing.png" %>
                <div class='post-description'>
                    <%=simple_format(@post.content)%>
                </div>
                
            </main>
            
            <footer class='comments'>
                <% if @comments != [] %>
                    
                    <%@comments.each do |comment| %>
                        <%comment_author = comment.user%>
                        
                        <% if comment_author == nil %>
                            <%comment.destroy%>
                        <% else %>
                        
                        <div class="comment">
                            <div class='comment-author'>
                                <%=link_to image_tag(comment_author.profile_pic.url, class:"profile-pic"), username_path(comment_author.username) %>
                                <h3><%= comment_author.username.capitalize%></h3>
                            </div>
                            <div class="comment-content">
                                <%=simple_format comment.content%>
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                    
                <% else %>
                    <i>No comments yet</i><p><br>
                <% end %>
                
            </footer>
            <div class="comment-form-container">
            
                <div class="new-comment-form">
                    
                    <div class="comment-user">
                        <%=image_tag @user.profile_pic.url%>
                        <p><%=@user.username%></p>
                    </div>
                    <%= form_for(@new_comment) do |f| %>
                            <%= f.text_field :post_id, autocomplete: "off", value: @post.id, hidden:true%>
                            <%=f.text_area :content, placeholder: "Leave your opinion", autocomplete: "off"%>
                            <%= f.submit "", style: "display: none;"%>
                            <%=f.button do%>
                                <i class="material-icons">navigation</i>
                            <% end %>
                    <% end %>
                </div>
            </div>
        </div>

    </main>
</div>