<!DOCTYPE html>
<html>
  <head>
    <title>Roleanding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
